{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="bgHeader">
            <div class="bgIcon">
                <i class="fa-solid fa-music"></i>
            </div>
            <div>
                <h1>Minhas Músicas</h1>
            </div>
        </div>
        <div class="listContainer">
            {% for song in songs%}
            <div class="musicList">
                <div>
                    <h1>{{loop.index}}</h1>
                </div>
                <div>
                    <img class="imgMusic" src="{{song.url_thumb}}" alt="">
                </div>
                <div>
                    <p style="text-transform: capitalize;">{{ song.name }} - {{ song.author }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


{% endblock content %}